<head>
	<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<!--[if lte IE 8]><script src="{{ "assets/js/ie/html5shiv.js" | relative_url }}"></script><![endif]-->
	<link rel="stylesheet" href="{{ "assets/css/main.css" | relative_url }}" />
	<!--[if lte IE 9]><link rel="stylesheet" href="{{ "assets/css/ie9.css" | relative_url }}" /><![endif]-->
	<!--[if lte IE 8]><link rel="stylesheet" href="{{ "assets/css/ie8.css" | relative_url }}" /><![endif]-->
	<!-- Facebook Open Graph -->
	<meta property="og:locale" content="en_EN"/>
	<meta property="og:site_name" content="Girl Talk"/>
	<meta property="og:title" content="Girl Talk"/>
	<meta property="og:url" content="https://aariops.github.io/"/>
	<meta property="og:type" content="website"/>
	<meta property="og:description" content="Using Natural Language Processing to Decode Song Lyrics by Women"/>
	<meta property="og:image" content="https://aariops.github.io/assets/images/banner.jpg"/>
	<meta property="og:image:url" content="https://aariops.github.io/assets/images/banner.jpg"/>
	<meta property="og:image:secure_url" content="https://aariops.github.io/assets/images/banner.jpg"/>
	<meta property="article:publisher" content="https://github.com/aariops"/>
   <!-- Google+ / Schema.org -->
	<meta itemprop="name" content="Girl Talk"/>
	<meta itemprop="headline" content="Girl Talk"/>
	<meta itemprop="description" content="Using Natural Language Processing to Decode Song Lyrics by Women"/>
	<meta itemprop="image" content="https://aariops.github.io/assets/images/banner.jpg"/>
	<!--<meta itemprop="publisher" content="ruteradio"/>-->
   <!-- Twitter Cards -->
	<meta name="twitter:title" content="Girl Talk"/>
	<meta name="twitter:url" content="https://aariops.github.io/"/>
	<meta name="twitter:description" content="Using Natural Language Processing to Decode Song Lyrics by Women"/>
	<meta name="twitter:image" content="https://aariops.github.io/assets/images/banner.jpg"/>
	<meta name="twitter:card" content="summary_large_image"/>
	<meta name="twitter:site" content="@ruteradio"/>
   <!-- SEO -->
	<link rel="canonical" href="https://ficaremcasa.quercus.ong/"/>
	<meta name="description" content="Using Natural Language Processing to Decode Song Lyrics by Women"/>
	<meta name="publisher" content="Girl Talk"/>
  
</head>
